apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-env
  labels:
    app: {{ .Release.Name }}
data:
  DATA_FILE_PATH: {{ .Values.appConfig.dataPath }}
  PHOTO_FILE_PATH: {{ .Values.appConfig.photoPath }}
  OUTPUT_FILE_PATH: {{ .Values.appConfig.outputPath }}
  SERVER_PORT: {{ .Values.appConfig.port | quote }}
