apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  labels:
    app: {{ .Release.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.appConfig.port }}
              protocol: TCP
          
          # Load Environment Variables from ConfigMap
          envFrom:
            - configMapRef:
                name: {{ .Release.Name }}-env

          # Mount the Persistent Volume
          volumeMounts:
            - name: data-storage
              mountPath: {{ .Values.appConfig.mountPath }}
          
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      
      volumes:
        - name: data-storage
          {{- if .Values.persistence.enabled }}
          persistentVolumeClaim:
            claimName: {{ .Release.Name }}-pvc
          {{- else }}
          emptyDir: {}
          {{- end }}
